
{% for testimoni in listTestimoni %}
    <div class="item">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <img src="/{{testimoni.cover}}" alt="Image" class="img-md-fluid">
                </div>
                <div class="overlap-left col-lg-6 bg-white p-md-5 align-self-center">
                    <p class="text-black lead">&ldquo;{{testimoni.text}}&rdquo;</p>
                    <p class="">&mdash; <em>{{testimoni.user.fullname}}</em>, <a href="#">Traveler</a></p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    