{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="site-wrap">
    {% include 'navbar.html' %}
    {% include 'site-blocks-cover.html' %}

    <div class="site-section">
    
    <div class="container">
        
        <div class="row">
            {% include 'cardDestination.html' %}
        </div>
    </div>
    
    </div>

    <div class="site-section block-13 bg-light">


    <div class="container">
        <div class="row justify-content-center mb-5">
        <div class="col-md-7">
            <h2 class="font-weight-light text-black text-center">What People Says</h2>
        </div>
        </div>

        <div class="nonloop-block-13 owl-carousel">

            {% include 'cardTestimoni.html' %}

        </div>
    </div>
    </div>

    <div class="site-section">
    <div class="container">
        <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-airplane"></span></div>
            <div>
                <h3>Air Ticketing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                <p><a href="#">Learn More</a></p>
            </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-ship"></span></div>
            <div>
                <h3>Cruises</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                <p><a href="#">Learn More</a></p>
            </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-route"></span></div>
            <div>
                <h3>Tour Packages</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                <p><a href="#">Learn More</a></p>
            </div>
            </div>
        </div>

        </div>
    </div>
    </div>
    
    {% include 'footer.html' %}
</div>
{% endblock body %}
    