{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{form.media}}
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
{% endblock head %}

{% block body %}
    <script>
        let authenticated = ('{{user.is_authenticated}}' == 'True')
        let order_user = '{{order_user | lower}}'
    </script>


    <div class="blog">
        {% include 'user/blog.html' %}
    </div>
    <div class="site-wrap">

        {% include 'navbar.html' %}
        {% include 'site-blocks-cover.html' %}


        <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mb-5">

                        {% include 'user/login.html' %}
                        {% include 'user/register.html' %}
                        {% include 'user/testimoni.html' %}

                    </div>
                    <div class="col-md-5">
                        <div class="p-4 mb-3 bg-white">
                            <img src="{% static 'global/images/hero_bg_1.jpg' %}" alt="Image" class="img-fluid mb-4 rounded">
                            <h3 class="h5 text-black mb-3">More Info</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad iure porro mollitia
                                architecto hic consequuntur. Distinctio nisi perferendis dolore, ipsa consectetur?
                                Fugiat quaerat eos qui, libero neque sed nulla.</p>
                            <p><a id="button_user" {% if user.is_authenticated %}{% else %}href="{% url 'about:index' %}"{% endif %} class="btn btn-primary px-4 py-2 text-white">{% if user.is_authenticated %}Write ur Blog{% else %}About ZeeTrav{% endif %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}
    </div>
{% endblock body %}

{% block script %}
    <script src="{% static 'user/js/bundle.js' %}"></script>
{% endblock script %}