<form action="#" class="p-5 bg-white" id="form_login">
    {% csrf_token %}
    <h1 class="title_form">Login</h1>

    <div class="row form-group">
        <div class="col-md-12 mb-3 mb-md-0">
            <label class="text-black" for="fname">Username or Email</label>
            <input type="text" name="username" id="login_username_email" class="form-control" placeholder="Username / Email" required>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-6 mb-3 mb-md-0">
            <label class="text-black" for="password">Password</label>
            <input type="password" name="password" id="login_password" minlength="8" class="form-control" placeholder="Password" required>
        </div>
        <div class="col-md-6">
            <label class="text-black" for="password">Comfirm Password</label>
            <input type="password" name="password2" id="login_comfirm_password" minlength="8" class="form-control" placeholder="Comfirm Password" required>
        </div>
    </div>

    <div class="col-md-12 form-group">
        <div class="row">
            <input type="submit" value="Login" class="btn btn-primary py-2 px-4 text-white login_btn_login col-md-5 col-sm-6" style="margin: auto;">
            <input type="button" value="Go to Register" class="btn btn-primary py-2 px-4 text-white login_btn_register col-md-5 col-sm-6" style="margin: auto;">
        </div>
    </div>
</form>